<%# Warning to not close the page during long operations %>
<%# Parameters: message: (optional) %>
<p class="text-sm text-slate-500 mt-6 text-center">
  <%= local_assigns[:message] || "This may take a few minutes. Please don't close this page." %>
</p>
