<%# Warning to not close the page during long operations %>
<%# Parameters: message: (optional) %>
<p class="text-sm app-text-secondary mt-6 text-center">
  <%= local_assigns[:message] || "Please don't close this page." %>
</p>
