<%= turbo_frame_tag "pull_request_list" do %>
  <div class="p-6 text-center">
<div class="text-red-600 mb-2">
      <%= heroicon "exclamation-triangle", options: { class: "mx-auto h-12 w-12" } %>
    </div>
    <h3 class="text-lg font-medium text-gray-900">Failed to load pull requests</h3>
    <p class="mt-1 text-gray-500"><%= error %></p>
    <div class="mt-4">
      <%= link_to "Try again", pull_requests_project_path(@project), class: "text-indigo-600 hover:text-indigo-800", data: { turbo_frame: "pull_request_list" } %>
    </div>
  </div>
<% end %>
