<%= turbo_stream_from @project, :onboarding %>
<%= turbo_stream_from @project, :analysis %>

<div class="app-surface app-shadow-sm rounded-xl app-border">
  <%= render "onboarding/projects/analyze_status", project: @project %>
</div>
