<%= turbo_stream_from @project, :onboarding %>

<div class="app-surface app-shadow-sm rounded-xl app-border overflow-hidden">
  <div id="<%= dom_id(@project, :onboarding_generating) %>">
    <%= render "onboarding/projects/generating_status", project: @project, progress: @progress %>
  </div>
</div>
