<% if article.tips.any? %>
  <div id="tips" class="mb-8 bg-blue-50 rounded-lg p-4 scroll-mt-24">
    <h2 class="text-lg font-semibold text-blue-900 mb-3">Tips</h2>
    <ul class="space-y-2 text-blue-800">
      <% article.tips.each do |tip| %>
        <li class="flex gap-2">
          <svg class="w-5 h-5 text-blue-500 flex-shrink-0 mt-0.5" fill="currentColor" viewBox="0 0 20 20">
            <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"/>
          </svg>
          <span><%= tip %></span>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
